core/src/main/resources/text-adapter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:redefine schemaLocation="fdml.xsd">
        <xs:attributeGroup name="adapter_attributes">
            <xs:attributeGroup ref="adapter_attributes"/>
            <xs:attribute name="commentCharacter" type="xs:string"/>
            <xs:attribute name="dataMarker" type="xs:string"/>
            <xs:attribute name="delimiter" type="xs:string"/>
            <xs:attribute name="linesPerRecord" type="xs:int"/>
            <xs:attribute name="skipLines" type="xs:int"/>
        </xs:attributeGroup>
    </xs:redefine>
</xs:schema>